body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  /* Additional heading styles */
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 0.075rem solid #404040;
  color: #000;
  padding: 1rem 0.75rem;
  text-align: center;
  background-image: linear-gradient(5deg, #f5f7fa 0%, #c3cfe2 100%);
}

header .logo {
  border-radius: .25rem;
  width: 2.5rem;
  height: 2.5rem;
}

header h2 {
  margin: 0;
}

.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-btn:hover {
  transform: rotate(90deg);
}

.popup-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.popup-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.popup-menu li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-menu li:hover {
  background-color: #f0f0f0;
}

/* Animation to show popup menu */
.show {
  display: block;
  animation: slideIn 0.3s ease forwards;
}


main{
  display: flex;
  justify-content: center;
}

#chat-container {
  display: flex;
  height: 97vh;
  width: 80%;
  flex-direction: column;
}

svg {
  width: 24px;
  height: 24px;
  stroke-width: 1;
  fill: none;
  stroke: #000000
}

.card {
  padding: 1rem;
  background: #fff;
  border-radius: 0.25rem;
}

.layer-01 {
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  border-radius: 0.25rem;
  padding: 0.1rem;
}

.content {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.message{
  display: flex;
  padding: 2rem 1rem;
  flex-direction: row;
  align-items: center;
}

.message.User{
  background-color: #a5f3fc;
}

.message.NexosAi{
  background: #fff;
}

.fe2a9c

form {
  display: flex;
  width: 100%;
  align-items: center;
  border-top: 1px solid #404040;
  border-radius: 0.375rem 0.375rem 0 0;
  background-color: #fafafa;
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
  transition: color 0.2s;
}

button:hover {
  color: #2563eb;
}

textarea {
  display: flex;
  margin: 0 0.5rem;
  min-height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #404040;
  background-color: #cbd5e0;
  padding: 0.5rem;
  font-size: 1rem;
  color: #4a5568;
  placeholder: #a0aec0;
  outline: none;
}

textarea:focus {
  border-color: #2563eb;
  outline: 1px solid #2563eb;
}

#submit-button {
  padding: 0.5rem;
  transition: color 0.2s;
}

#submit-button:hover {
  color: #2563eb;
}

#chat-messages {
  flex: 1;
  overflow-y: auto;
  background-color: #f5f5f5;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #1a202c;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.back-to-top {
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  display: none;
}

.back-to-top a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.back-to-top a:hover {
  background-color: #555;
}


/* Responsive styles */
@media (max-width: 600px) {
  #chat-container {
    width: 90%;
    /* Adjust width for smaller screens */
  }

  .px-6 {
    padding-left: 1.5rem;
    /* sm:px-6 */
    padding-right: 1.5rem;
    /* sm:px-6 */
  }

  mr-4 {
    margin-right: 1rem;
    /* sm:mr-4 */
  }
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}


.justify-between {
  justify-content: space-between;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Specific Element Styles */
img {
  margin-right: 0.5rem;
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
}